
<%= render 'header' %>
  <section class="layout">
    <section class="menu">
      <ul>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Hello</h2>
          <!-- inline icon use h2 not h1 -->
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Youunie</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>BlackPink</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Rosie</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Lisa</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Jisoo</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Jennie</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>GuysRobot</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>MrRobot</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Hacker</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Skyer</h2>
        </li>
        <li>
          <%= image_tag 'size_icon.png', class: "icon-leading" %>
          <h2>Lunar</h2>
        </li>
      </ul>
    </section>
    <section class="grid-view">
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
      <div>
        <h1>Hello</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </section>
  </section>
